  /*Reset CSS*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    position: relative;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #5E1B89;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #9D71BC 0%, #FF7F4D 20%, #ffffff 20%, #ffffff 100%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  
  .app-header {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 64px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .app-logo {
    width: 64px; 
    height: 64px; 
    margin-right: 10px; 
  }  
  
  .app-title {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 44px;
    color: #5E1B89;
    margin: 0; 
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 100%; 
    max-width: 1200px; 
    padding: 20px; 
  }

  h1 {
    color: #f55819;
    font-size: 40px; 
    margin-bottom: 20px; 
  }

  .main-content {
    display: flex;
    width: 100%; 
    max-width: 1200px; 
  }

  .task-box {
    width: 30in; 
    height: 400px;  
    border: 3px solid #5E1B89;
    border-radius: 20px; 
    padding: 20px; 
    margin-right: 20px; 
    color: #FF7F4D; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    overflow-y: auto; 
  }

  .task-box-placeholder {
    font-size: 44px;
    color: #5E1B89; 
    text-align: center; 
    margin-top: 20px; 
  }

  .task-input::placeholder {
    color: #5E1B89; 
    font-size: 18px; 
  }
  
  .task-item {
    color: #5E1B89;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 10px;
    padding: 5px 0; 
    border-bottom: 2px solid #f55819; 
    width: 100%; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }

  .task-time {
    font-size: 14px;
    color: #5E1B89; 
  }

  .task-edited-time {
    font-size: 14px;
    color: #5E1B89; 
    margin-top: 5px; 
  }

  .task-deadline {
    font-size: 14px;
    color: #5E1B89; 
    margin-top: 5px; 
  }

  .react-datepicker__input-container input {
    border: 2px solid #5E1B89;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    width: 100%; 
    background-color: #FF7F4D; 
    color: #5E1B89; 
    caret-color: #5E1B89; 
  }
  
  .task-input:focus,
  .react-datepicker__input-container input:focus {
    border-color: #5E1B89; 
    outline: none;
  }


  .task-input {
    border: 2px solid #5E1B89;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 100%; 
    margin-bottom: 10px; 
    background-color: transparent; 
    color: #5E1B89; 
    caret-color: #5E1B89; 
  }

  .react-datepicker__input-container {
    width: 100%;
  }

  .react-datepicker__input-container input {
    background-color: transparent;
    color: #5E1B89; 
    font-weight: bold;
    border: 2px solid #5E1B89; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 18px; 
  }

  .react-datepicker {
    background-color: #FF7F4D; 
    border: 2px solid #5E1B89; 
    border-radius: 10px; 
  }

  .react-datepicker__header {
    background-color: #9D71BC; 
    color: #F8FFFE; 
  }

  .react-datepicker__day,
  .react-datepicker__day-name,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text {
    color: #F8FFFE; 
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #9D71BC; 
    color: #F8FFFE; 
  }

  .react-datepicker__day:hover {
    background-color: #9D71BC; 
  }

  .react-datepicker__triangle {
    display: none;
  }

  .time-controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .time-controls .time {
    font-weight: bold;
    font-size: 30px; 
    margin-right: 10px; 
  }
  
  .time-controls button {
    font-size: 10px; 
    background-color: #FF7F4D;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .time-controls button.arrowhead {
    width: 5px; 
    margin-right: 10px;
    font-size: 30px; 
    background-color: #FF7F4D;
  }  

  .time-controls button:last-child {
    font-size: 12px; 
  }
  
  .time-controls button:hover {
    border: 2px solid #FF7F4D;
  }

  .time-controls button:focus {
    outline: none; 
    border: 2px solid #FF7F4D;
  }
  

  @media (max-width: 768px) {
    .time-controls button.arrowhead {
      width: 15px; 
      margin-right: 3px; 
    }
  }
  

  .task-input[type="date"] {
    background-color: #FF7F4D; 
    color: #F8FFFE; 
  }

  .buttons-section {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center;
    width: 100%; 
    max-width: 600px; 
  }

  .action-button,
  .start-button {
    border: 3px solid #5E1B89;
    background-color: transparent;
    color: #F55819;
    padding: 20px 30px; 
    border-radius: 10px; 
    margin: 10px; 
    cursor: pointer;
    font-size: 24px; 
    min-width: 200px; 
    min-height: 20px; 
    text-align: center; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-grow: 1; 
    width: 100%; 
    padding: 6px; 
    font-size: 20px; 
    font-weight: bold;
    cursor: pointer; 
  }

  .modal-button {
    border: 3px solid #5E1B89;
    background-color: transparent;
    color: #5E1B89;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: 24px;
    min-width: 150px;
    min-height: 20px;
    text-align: center;
    display: inline-block; 
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px !important;
  }

.modal-button:first-child {
    margin-left: 0; 
}

.modal-button:last-child {
    margin-right: 0; 
}

  .action-button:hover,
  .start-button:hover{
    background-color:#FF7F4D;
    border: 3px solid #5E1B89;
    color: #F8FFFE;
  }

  .action-button:focus,
  .start-button:focus{
    outline: none; 
    border: 2px solid #5E1B89;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }

  .modal-content {
    background-color: #F8FFFE;
    color: #5E1B89; 
    border: 3px solid #FF7F4D;
    border-radius: 10px; 
    padding: 20px;
    text-align: center; 
    width: 400px; 
  }

  .modal-content h2 {
    margin-bottom: 10px; 
  }

  .task-item:hover {
    border: 3px solid #5E1B89;
    background-color: #FF7F4D;
    border-radius: 10px;
  }
  
  .modal-button.delete-button:hover,
  .modal-button.add-button:hover{
    border: 2px solid #5E1B89;
    background-color:#5E1B89;
    color: #F8FFFE;
  }

  .modal-button.add-button:focus,
  .modal-button.delete-button:focus{
    outline: none; 
    border: 2px solid #5E1B89;
  }
    
  .modal-button.cancel-button:hover {
    background-color: #FF7F4D; 
    color: #F8FFFE; 
    border: 2px solid #FF7F4D; 
  } 

  .modal-button.delete-task-button,
  .modal-button.cancel-button {
    background-color: #FF7F4D; 
    color: #F8FFFE; 
    border: 2px solid #FF7F4D; 
  } 

  .modal-button.delete-task-button:focus,
  .modal-button.cancel-button:focus{
    outline: none; 
    border: 2px solid #FF7F4D;
  }

  .task-item.selected {
    border: 2px solid #5E1B89;
    background-color: #9D71BC;
    color: #F8FFFE;
    border-radius: 10px;
  }

  @media (max-width: 600px) {
    .task-box {
      width: 100%; 
      margin-right: 0; 
    }

    .modal-content {
      width: 80%; 
    }

    .buttons-section {
      flex-direction: column; 
      align-items: center; 
    }

    .action-button,
    .start-button,
    .modal-button {
      min-width: auto; 
      width: 100%; 
    }

    .start-button {
      margin-top: 10px; 
    }
  }

  .task-item.done {
    text-decoration: line-through; 
  }

  .modal-button {
    background-color: #5E1B89;
    color: #F8FFFE;
    border-radius: 5px #5E1B89;
    padding: 8px 16px; 
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 8px; 
  }

  .task-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .task-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
  }
  
  .task-icons .task-icon {
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 5px;
  }
  
  .task-icons .edit-icon {
    color: #5E1B89;
  }
  
  .task-icons .delete-icon {
    color: #5E1B89;
  }
  
  .task-icons .status-icon {
    color: #5E1B89;
  }

  .task-icon:hover {
    color: #F8FFFE;
  }

  .star-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: #5E1B89; 
}

.star-icon.favorite {
  color: #F55819
}

.info-modal {
  text-align: center; 
}

.info-modal h2 {
  text-align: center; 
}

.info-modal p {
  text-align: justify;
}


